<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/clinicals.css' %}">
    <title>Clinical Data</title>
</head>
<body>
    <h2>Patient Data</h2>
    <table border="3">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </thead>
    <tr>
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.age}}</td>
    </tr>
    </table>
    <br>
    <form method="post">
        <table>
        {%csrf_token%}
        {{form.as_table}}
        </table>

        <input type="submit" value="Save">
    </form>
</body>
</html>